<%-  layout('layouts/boilerplate') %>

<div class="home-banner">
    <div class="container searchInput">
        <form action="/" method="POST" class="w-100">
            <label for="searchStore">Search for a Ständle in your city</label>
            <div class="input-group">
                <input class="form-control" type="text" name="searchStore" id="searchStore">
                <button class="btn" id="primary-btn">Search</button>
            </div>
        </form>
    </div>
    
</div>


<div class=" text-container">
    <h1 id="primary-heading" class="mb-5">What is the E-Ständle</h1>
    <div class="container-home">
        
        <p>E-Ständle is a plataform to help small farmers to advertise and show their products. Here you can create an account and add your Ständle, after that you can start adding your fruits and vegetables to sell.</p>
        <img src="/images/booth.png" alt="Ständle Image">
    </div>

    <div class="d-flex justify-content-center mt-5 align-items-center">
        <hr class="w-50"><img src="/images/pflanze.png" alt="pflanze"><hr class="w-50">
    </div>

    <div class="card-container">
        <div class="card-box" >
            <img src="/images/spriessen.png" class=" card-images" alt="...">
            <div class="">
                <h2>Good for the Enviromment</h2>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card-box" >
            <img src="/images/gemuse.png" class=" card-images" alt="...">
            <div class="">
                <h2>Fresh Products</h2>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card-box" >
            <img src="/images/saat.png" class=" card-images" alt="...">
            <div class="">
                <h2>Title</h2>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        
        <div class="card-box" >
            <img src="/images/farmer.png" class=" card-images" alt="...">
            <div class="">
                <h2>Good for the People</h2>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>