* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    min-height: 100vh;
    position: relative;
    
}

#navbar-bgcolor {
    background-color: #306B44;
    color: white;
}

#footer{
    background-color: #306B44;
    color: white;
    text-align: center;
}

#navbar-bgcolor a {
    color: #fefae0;
}

#primary-btn {
    background-color: #CC071E;
    color: #fefae0;
}

#primary-btn:hover {
    background-color: #A70619;
}

#secondary-btn {
    background-color: #a5cc6b;
}

.home-banner {
    height: 25rem;
    /* width: 75vw;
    margin: auto; */
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1593047725920-43a0f206b593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80');
    background-size: cover;
    overflow: hidden;
    /* box-shadow: inset 0 0 100rem rgba(0, 0, 0, 0.5); */
    position: relative;
    color: #fff;
    font-size: 2rem;
}

.container-home {
    display: flex;
    width: 60vw;
    margin: auto;
}

.searchInput {
    letter-spacing: 0.1rem;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container {
    /* background-color: #ACC4B4 */
    background-color: #D6E1D9;
    margin: auto;
    padding: 3em;
}

#primary-heading {
    color: #306B44;
    letter-spacing: 0.3rem;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 3rem;
    transition: all 1s;
}

.card-box{
    margin: 1.5rem;
    background-color: #EBF0EC;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    border-radius: 1.5rem;
    width: 90%;
}

.card-box:hover{
    transform: scale(1.1); 
}

#img-container {
    max-height: 50vh;
}

#store-container{
   max-width: 80%;
   /* background-color: #D6E1D9; */
   padding: 0;
}

.info-container {
    padding: 2rem;
}

.product-img{
    max-height: 10rem;
    border-bottom: 1px solid #F7F7F7;
}

#product-show{
    display: flex;
}

.product-info {
    padding: 2rem;
}



#buyQty{
    width: 5rem;
}

#carouselbtn-left,
#carouselbtn-right {
    background-color:rgba(0, 0, 0, 0.192)
}

@media screen and (max-width: 820px) {
    .card-container {
        flex-wrap: wrap;
        
    }

    #product-show {
        width: 80vw;
        margin: auto;
    }
}

@media screen and (max-width: 568px) {
    .container-home {
        flex-direction: column;
        align-items: center;
    }

    .container-home img{
        height: 10rem;
        width: 10rem;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card-box {
        margin-left: auto;
        margin-right: auto;
    }
    #product-show{
        flex-direction: column;
        align-items: center;
    }

    .searchInput {
        width: 100%;
    }
}